<p id="notice"><%= notice %></p>

<h1>Users</h1>


<%= form_tag(users_path, method: "get") do %>
  <%= text_field_tag(:search, @search, placeholder: 'Search') %>
  <button type="submit">Search</button>
<% end %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>City</th>
      <th>Vehicle make</th>
      <th>Vehicle model</th>
      <th>Vehicle year</th>
      <th>JD URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= user.city %></td>
        <td><%= user.vehicle_make %></td>
        <td><%= user.vehicle_model %></td>
        <td><%= user.vehicle_year %></td>
        <td><a href="<%= user.get_url%>">JD URL</a>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
